.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    text-align: center;
    padding: 20px;
}


.home-container h1 {
    font-size: 3em;
    color: #ffffff;
    margin-bottom: 15px;
}


.home-container p {
    font-size: 1.2em;
    color: #d3d3d3;
    margin-bottom: 30px;
}

.button-group {
    display: flex;
    gap: 20px;
}



@media (max-width: 600px) {
    .home-container h1 {
        font-size: 2.5em;
    }

    .home-container p {
        font-size: 1.5em;
    }

    .button-group {
        flex-direction: column;
        gap: 15px;
    }
}
